/* Body */
body {
  background-color: white;
  background-image: url("/Users/jordanscheier/Desktop/EaglesPage/resources/images/LightWallpaper.jpeg");
  background-size: cover;
  background-repeat: repeat;
  z-index: 1;
  font-family: 'Oxygen', sans-serif;
  padding-top: 90px; /* ...padding instead of margin? */
}

/* Navbar */
#navbar {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #004953;
  display: flex;
  align-items: center; /* Vertically align the logo and menu items */
  padding-left: 20px; /* Add left padding to create space for the logo */
/*  place-items: center; */
  z-index: 2;
}

#navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#navbar ul li {
  font-size: 20px;
  margin: 0 45px;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
}

#navbar ul li a:hover {
  color: #000;
}

.logo {
  height: 24px; /* Adjust the height as needed */
  margin-right: 10px; /* Add some spacing between the logo and the menu items */
}

/* Main section */
main {
  /* Add any additional styles for the main section as needed */
}

/* BDawk Image */
#bdawk {
  position: absolute;
  top: calc(50% - 300px);
  right: 5%;
  z-index: 999;
}

#bdawk img {
  height: 600px;
  filter: drop-shadow(-140px -140px 5px rgba(0, 0, 0, 0.5));
  transition: 0.5s;
}

#bdawk img:hover {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

/* Footer */
footer {
  background-color: #004953;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


/* Schedule Tab */
/* Buttons& Table */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #ddcda8;
  font-weight: bold;
  font-size: 20px;
}

td {
  border-bottom: 1px solid #ddcda8;
}

tbody tr:last-child td {
  border-bottom: none;
}

caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.buy-button {
  background-color: #004953;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #00323d;
}


/* News Tab */


.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.green-text {
  color: green;
}
#news {
  margin-bottom: 125px;
}


/* Squad Tab */
#starting-offense {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-card {
  flex: 0 0 200px;
  margin: 10px;
  text-align: center;
}

.player-card figure {
  margin: 0;
}

.player-card img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .player-card {
    flex-basis: 45%;
  }
}

#starting-defense {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#starting-defense h3 {
  margin-top: 20px;
}